*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    max-width: 1920px;
    width: 100%;
    height: auto;
    background-color: rgba(249, 249, 249, 1);
}
nav{
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
    align-items: center;
    justify-content: space-between;
    
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 60px;
    /* White */
    padding-left: 36px;
    background: #FFFFFF;
    border-radius: 40px;
}
.search_icon{
    background: none;
    padding-right: 20px;
    border: none;
}
.search_input{
    width: 250px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* Gray */

    color: #8E8EA1;

    border: none;
}
.korzinka{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 50px;
}

.comment{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: none;
    margin: 10px;
}
.call{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: none;
}
.settings{
    width: 60px;
    margin: 10px;
    height: 60px;
    border-radius: 50%;
    background: none;
}


.info{
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-left: 50px;
}
.info_nav{
    margin-bottom: 40px ;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
}
.info_fath{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.info1{
    width: 347px;
    height: 200px;
    padding: 32px;
    margin: 14.5px;

    /* White */
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    background: #FFFFFF;
    border-radius: 40px;
}

.info_1_left p{

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.info_1_left h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    margin-bottom: 36px;

    /* Black */

    color: #22242C;
}
.bottom{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.bottom span{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    /* Red */
    color: #FF4A55;
}

.bottom p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* Gray */

    color: #8E8EA1;
}