*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

button{
    cursor: pointer;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    max-width: 1920px;
    width: 100%;
    height: auto;
    background-color: rgba(249, 249, 249, 1);
}
nav{
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
    align-items: center;
    justify-content: space-between;
    
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    height: 60px;
    /* White */
    padding-left: 36px;
    background: #FFFFFF;
    border-radius: 40px;
}
.search_icon{
    background: none;
    padding-right: 20px;
    border: none;
}
.search_input{
    width: 250px;
    height: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* Gray */

    color: #8E8EA1;

    border: none;
}
.korzinka{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.comment{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: none;
}
.call{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: none;
}
.settings{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: none;
}