@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,900;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}



body{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    max-width: 1920px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .bar{
    width: 25%;
    height: auto;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-direction: column;
    background: #FFFFFF;
    
}
.bar .logo{
    padding: 30px 40px;
}

.wrapper .bar .menu{
    width: 299px;
    height: 504px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 18px;
    padding-left: 30px;
}
.wrapper .bar .menu .home img{
    margin-right: 50px;
   
}

.wrapper .bar .menu .home a{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* Gray */

    color: #8E8EA1;
}

.wrapper .bar .text{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px 30px;
}

.wrapper .bar .text p{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    padding-bottom: 15px;
    color: #A098AE;

}
.wrapper .bar .text span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    color: #A098AE;

}





